body {
    background-color: black;
    text-align: center;
    font-size: large;
    color: white;
}

table {
    margin: auto;
}

a {
    margin-top: 20px;
    display: inline-block;
    color: black;
    background: white;
    text-decoration: none;
    padding: 20px;
}

section {
    background-color: white;
    text-align: center;
    font-size: large;
    color: black;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5rem;
}