body {
    background-color: black;
    font-size: large;
    color: white;
}

a {
    margin-top: 20px;
    display: inline-block;
    color: black;
    background: white;
    text-decoration: none;
    padding: 20px;
}

